.NavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 40px 0px 40px;
}

.desktop_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px 0px 40px;
}

.mobile_nav{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px 0px 40px;
    align-items: center;
}

.span{
    background-image: url('../../Images/Logo.svg');
}

.listContainer{
    display: flex;
}

.ul{
    list-style: none;
    position: relative;
    margin: auto 0;
}

.li{
    display: inline;
    margin-right: 40px;
    color: #153F59;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}

.li a{
    text-decoration: none;
    color: #153F59;
}

.li a:hover{
    text-decoration: none;
    color: #a61f2b;
}

.button{
    width: 100px;
    height: 40px;
    margin: auto 0;
    border: solid 2px #153F59;
    color: #153F59;
    border-radius: 5px;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    font-family: 'IM Fell English', serif;
    text-decoration: none;
    padding: 4px 6px;
    text-align: center;
}

.button:hover{
    background-color: #153F59;
    color: #D9D6C7;
}

.menu_icon{
    width: 40px;
    height: 40px;
}

.logo{
    width: 100px;
    height: 100px;
}

@media(max-width:400){
    .NavBar{
        padding: 15px 40px 0px 20px;
    }
}

@media (max-width: 990px){
    .logo{
        width: 80px;
        height: 80px;
    }
    .desktop_nav{
        display: none;
    }

    .mobile_nav{
        display: flex;
    }

    .menu_icon{
        position: absolute;
        right: 5%;
        cursor: pointer;
        z-index: 999;
    }

    .NavBar{
        padding-left: 20px;
    }
    .listContainer{
        position: absolute;
        flex-direction: column;
        justify-content: start;
        background-color: #D9D6C7;
        position: absolute;
        padding: 100px 15%;
        height: 100vh;
        width: 100vw;
        top: 0;
        right: 0;
        overflow: hidden;
    }

    .button{
        margin: 0 auto;
    }
    
    .ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: auto 0 auto 0;
    }
    
    .li{
        margin: 0 auto 30px auto;
        display: inline;
        font-size: 1.3rem;
        font-weight: bold;
    }
}